.contenedorTitulo[b-fyxo1zynx4]{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorSubtitulo[b-fyxo1zynx4]{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorDescripcion[b-fyxo1zynx4]{
    display: flex;
    justify-content: center;
    align-items: center;
}
.descripcion2[b-fyxo1zynx4]{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}